<table style="width: 100%; padding: 10px 35px; background-color: #c1edcd; box-sizing: border-box">
    <tr>
        <td style="font-size: 14px; text-align: center;">
            MyCorp - Copyright © 2023
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; text-align: center;">
        </td>
    </tr>
</table>