<table style="width: 100%; padding: 4px 35px; background-color: #c1edcd; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
            <img src="https://nodejs.org/images/logos/nodejs-dark.png" width="100px" height="55px"  alt="LOGO">
        </td>
        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 0"
                 src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png"
                 alt="icon">
        </td>
    </tr>
</table>