<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 22px; text-align: center;">
            Do not worry, we control your password
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0; font-size: 18px">
                Please click link to restore your password
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; height: 80px;">
            <a href="{{frontUrl}}/restore-password/{{actionToken}}">RESTORE</a>
        </td>
    </tr>
</table>