<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 22px; text-align: center;">
            {{name}}, Welcome on our platform!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0; font-size: 18px">
                If you want to see some incredible, please click on button
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center; height: 80px;">
            <a href="https://project-react-smoky.vercel.app/main"
               style="text-align: center;
                      border-radius: 10px;
                      padding: 10px;
                      background-color: rgba(119,192,133,0.67);
                      text-decoration: none;
                      font-size: 25px;
                      font-style: oblique;
                      color: #0c0695;
                      font-family: 'Roboto Light';
                      ">Visit my web site</a>
        </td>
    </tr>
</table>